<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "#4b81e8"
    }
  },
  "theme": "classic",
  "content": {
    "message": "Deze website gebruikt cookies om geanonimiseerde gebruiksstatistieken te verzamelen.",
    "dismiss": "Ik snap het!",
    "link": "Meer informatie",
    "href": "https://fokke.org/page/privacy/"
  }
})});
</script>
